@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    MAESTRÍA EN GERENCIA DE SISTEMAS DE INFORMACIÓN Y PROYECTOS TECNOLÓGICOS<br />
    Grupo: Factores de éxito en la gerencia de proyectos tecnológicos - Grupo 1<br />
    Facultad de Estudios en Ambientes Virtuales<br />
    Segundo Ciclo - 2017<br />
</address>