@{
    ViewBag.Title = "";
}
<br/><br /><br />
<div class="jumbotron">
    <h1>SIGE-SIRENITA</h1>
    <p class="lead">Sistema de informaci&oacute;n para la gesti&oacute;n de ambientes productivos del predio del Sena la Sirenita.</p>
    <p><a href="Home/Mapa" class="btn btn-primary btn-lg">Ver mapa de ambientes &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Objetivo</h2>
        <p style="text-align:justify">
            El sistema de información busca satisfacer la necesidad del
            Centro Agroindustrial – SENA Regional Quindío, de optimizar
            sus procesos a través de la sistematización de la información
            generada en sus ambientes productivos, con el fin de lograr
            una buena gestión de los recursos que se administran
            en estos espacios.
        </p>
        <p><a class="btn btn-default" href="Home/About">Ver mas</a></p>
    </div>
    <div class="col-md-4">
        <h2>Módulos</h2>
        <p style="text-align:justify">La aplicación cuenta con los módulos de gestión de usuarios,
        gestión de préstamos, gestión de inventarios, gestión de ambientes,
        visualización de los ambientes en mapa.
        </p>
        <p><a class="btn btn-default" href="Home/About">Ver mas</a></p>
    </div>
    <div class="col-md-4">
        <h2>Tecnología</h2>
        <p style="text-align:justify">El sistema de información esta desarrollado con tecnología ASP.NET 
           de Microsoft, estándar MVC5 y base de datos SQL Server Local DB. 
           Se ejecuta e un servidor IIS. Información de versión: Versión de 
           Microsoft .NET Framework:4.0.30319; Versión ASP.NET:4.6.1637.0.</p>
        <p><a class="btn btn-default" href="Home/About">Ver mas</a></p>
    </div>
</div>